<section class="block containor block-domain">
  <header class="block__header">
    <h2>Starting at $200 per month</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt, enim.
    </p>
  </header>
  <div class="input-group">
    <input type="text" class="input" placeholder="Enter the name here..." />
    <button class="btn btn--accent">
      <svg class="icon icon--white">
        <use xlink:href="images/search.svg#Layer_1"></use>
      </svg>
      Search
    </button>
  </div>
  <ul class="list block-domain__prices">
    <li><span class="badge badge--secondary">BTC $600</span></li>
    <li>ETH $500</li>
    <li>BNB $200</li>
    <li>DOGE $400</li>
    <li>ADA $400</li>
    <li>DOT $500</li>
  </ul>
</section>
