<section class="block containor">
  <header class="block__header">
    <h2>Invest here, to keep your wallet growing!</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta distinctio
      error, ratione qui nemo numquam a amet illo deserunt perferendis!
    </p>
  </header>
  <article class="grid grid--1x2 feature">
    <div class="feature__content">
      <span class="icon-containor">
        <svg class="icon icon--primary">
          <use xlink:href="images/sprite.svg#hand"></use>
        </svg>
      </span>
      <h3 class="feature__heading">Simple and user friendly interface</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis illo sint
        ad eveniet qui neque voluptates, nisi quae maxime eligendi.
      </p>
      <a href="#" class="link-arrow">Learn More</a>
    </div>
    <img class="feature__image" src="images/easy.png" alt="" />
  </article>

  <article class="grid grid--1x2 feature">
    <img class="feature__image" src="images/use.png" alt="" />
    <div class="feature__content">
      <span class="icon-containor">
        <svg class="icon icon--primary">
          <use xlink:href="images/sprite.svg#pc"></use>
        </svg>
      </span>
      <h3 class="feature__heading">Very low gas fees</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis illo sint
        ad eveniet qui neque voluptates, nisi quae maxime eligendi.
      </p>
      <a href="#" class="link-arrow">Learn More</a>
    </div>
  </article>

  <article class="grid grid--1x2 feature">
    <div class="feature__content">
      <span class="icon-containor">
        <svg class="icon icon--primary">
          <use xlink:href="images/sprite.svg#hand"></use>
        </svg>
      </span>
      <h3 class="feature__heading">Simple and user friendly interface</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis illo sint
        ad eveniet qui neque voluptates, nisi quae maxime eligendi.
      </p>
      <a href="#" class="link-arrow">Learn More</a>
    </div>
    <img class="feature__image" src="images/safe.png" alt="" />
  </article>

  <article class="grid grid--1x2 feature">
    <img class="feature__image" src="images/modern.png" alt="" />

    <div class="feature__content">
      <span class="icon-containor">
        <svg class="icon icon--primary">
          <use xlink:href="images/sprite.svg#hand"></use>
        </svg>
      </span>
      <h3 class="feature__heading">Simple and user friendly interface</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis illo sint
        ad eveniet qui neque voluptates, nisi quae maxime eligendi.
      </p>
      <a href="#" class="link-arrow">Learn More</a>
    </div>
  </article>
</section>
