<nav class="nav collapsible">
  <a class="nav__brand" href="/">
    <img class="icon icon--big" src="images/mine.svg" alt="cloud mine logo" />
  </a>
  <svg class="icon icon--white nav__toggler">
    <use xlink:href="images/menu3.svg#nigga"></use>
  </svg>
  <ul class="list nav__list collapsible__content">
    <li class="nav__item"><a href="#">Hosting</a></li>
    <li class="nav__item"><a href="#">VPS</a></li>
    <li class="nav__item"><a href="#">Domain</a></li>
    <li class="nav__item"><a href="#">Pricing</a></li>
  </ul>
</nav>
