<blockquote class="quote">
  <p class="quote__text">
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestias et
    veritatis reiciendis neque dignissimos nulla itaque libero aspernatur
    commodi non?
  </p>
  <footer>
    <div class="media">
      <div class="media__image">
        <svg class="icon icon--primary quote__line">
          <use xlink:href="images/person2.svg#Layer_1"></use>
        </svg>
      </div>
      <div class="media__body">
        <h3 class="media__title quote__author">Raiden ZD</h3>
        <p class="quote__company">BLC Company</p>
      </div>
    </div>
  </footer>
</blockquote>
