<div class="card testimonial">
  <div class="grid grid--1x2">
    <div class="testimonial__image">
      <img src="images/charles.png" alt="Charles Hoskinson" />
      <span class="icon-containor icon-containor--accent">
        <svg class="icon icon--white icon--small">
          <use xlink:href="images/sprite.svg#cloud_mine"></use>
        </svg>
      </span>
    </div>
    <blockquote class="quote">
      <p class="quote__text">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestias et
        veritatis reiciendis neque dignissimos nulla itaque libero aspernatur
        commodi non?
      </p>
      <footer>
        <div class="media">
          <div class="media__image">
            <svg class="icon icon--primary quote__line">
              <use xlink:href="images/person2.svg#Layer_1"></use>
            </svg>
          </div>
          <div class="media__body">
            <h3 class="media__title quote__author">Raiden ZD</h3>
            <p class="quote__company">BLC Company</p>
          </div>
        </div>
      </footer>
    </blockquote>
  </div>
</div>
